In [4]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
# import nltk
# nltk.download('stopwords')
# from nltk.corpus import stopwords
from tqdm import tqdm
import re
import collections
# from wordcloud import STOPWORDS
from scipy.sparse import csr_matrix
# from nltk.sentiment.vader import SentimentIntensityAnalyzer
# nltk.download('vader_lexicon')
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import MinMaxScaler
import string
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_log_error
# from wordcloud import WordCloud
import gensim
import time
from gensim.models import Word2Vec
from nltk.tokenize import word_tokenize
import multiprocessing
import matplotlib.image as mpimg
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import LogisticRegression
# import statsmodels.api as sm


!pip install gensim
!pip install python-Levenshtein

Requirement already satisfied: gensim in c:\users\nnd\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: numpy>=1.17.0 in c:\users\nnd\anaconda3\lib\site-packages (from gensim) (1.21.5)
Requirement already satisfied: scipy>=0.18.1 in c:\users\nnd\anaconda3\lib\site-packages (from gensim) (1.7.3)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\nnd\anaconda3\lib\site-packages (from gensim) (6.3.0)
Requirement already satisfied: python-Levenshtein in c:\users\nnd\anaconda3\lib\site-packages (0.21.1)
Requirement already satisfied: Levenshtein==0.21.1 in c:\users\nnd\anaconda3\lib\site-packages (from python-Levenshtein) (0.21.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=2.3.0 in c:\users\nnd\anaconda3\lib\site-packages (from Levenshtein==0.21.1->python-Levenshtein) (3.1.1)

# From Here, we will be training our model.

In [6]:
train_data_model1 = pd.read_csv('avgword2vec_cbow.csv')

In [7]:
train_data_model2 = pd.read_csv('avgword2vec_sg.csv')

# KPCA Tuned

In [12]:
train_data_model1 = train_data_model1.sample(frac=0.06, random_state = 43)

In [15]:
train_data_model1.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0', 'train_id'], inplace = True)

In [11]:
train_data_model2

,Unnamed: 0.1,Unnamed: 0,train_id,item_condition_id,price,shipping,0,1,2,3,...,190,191,192,193,194,195,196,197,198,199
0,639825,639825,640169,4,6.0,1,0.037552,0.023915,0.005228,0.024870,...,0.261896,0.143941,-0.128030,0.080459,0.144991,0.017747,0.205571,-0.201369,-0.035721,-0.056952
1,506709,506709,506976,1,38.0,0,0.232859,-0.038133,0.074237,0.100791,...,0.251430,0.066081,0.096789,0.106077,-0.000116,0.047183,0.072342,-0.355895,-0.056492,-0.148951
2,1391997,1391997,1392815,3,19.0,1,-0.033843,-0.001777,-0.164303,0.292715,...,0.230903,0.064281,0.136571,-0.133916,0.242645,-0.154565,0.043090,-0.182490,0.015514,-0.233542
3,805573,805573,806019,3,13.0,1,0.277575,-0.176075,0.103876,0.312039,...,0.320663,0.184249,0.067134,0.063168,0.386055,0.023002,0.048363,-0.309135,0.004195,-0.173594
4,669893,669893,670253,2,14.0,1,0.042444,0.112054,0.135623,0.246667,...,0.271193,0.262207,-0.010959,0.115632,-0.048844,-0.130186,0.229600,-0.207454,0.013241,-0.216210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22220,627141,627141,627476,3,21.0,0,-0.074463,0.122469,0.416734,0.020856,...,0.089671,-0.003719,-0.180867,-0.000074,-0.097486,0.138730,0.137916,-0.007709,0.017316,-0.166371
22221,889835,889835,890326,1,10.0,0,0.086083,-0.024563,-0.018871,0.173806,...,0.335237,-0.205561,0.072868,-0.055953,0.042459,0.036656,0.058271,-0.196131,0.020433,-0.209770
22222,599406,599406,599724,1,10.0,0,0.146066,-0.121376,0.111775,0.098236,...,0.291403,0.053669,0.114085,-0.105494,0.046369,0.136659,0.182144,-0.212911,0.126016,0.030037
22223,405295,405295,405484,1,12.0,0,-0.041727,-0.142778,0.097017,0.209473,...,0.369271,0.002607,0.175795,-0.047760,0.027296,0.038357,0.118579,-0.114327,-0.092380,0.047048
22224,1164670,1164670,1165337,1,12.0,0,0.147853,0.040602,-0.105794,0.259467,...,0.259493,0.163386,0.048273,0.004627,0.150644,0.021865,0.067533,-0.199626,0.100950,-0.239893

In [16]:
train_data_model2.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0', 'train_id'], inplace = True)

In [20]:
X_m1 = train_data_model1.drop(columns = 'price')
y_m1 = train_data_model1['price']

In [23]:
X_m2 = train_data_model1.drop(columns = 'price')
y_m2 = train_data_model1['price']

In [24]:
from sklearn.model_selection import train_test_split
X_train_m1, X_test_m1, y_train_m1, y_test_m1 = train_test_split(X_m1, y_m1, test_size=0.2)

In [25]:
X_train_m2, X_test_m2, y_train_m2, y_test_m2 = train_test_split(X_m2, y_m2, test_size=0.2)

In [26]:
X_train_m1 = X_train_m1[:11000]
X_test_m1 = X_test_m1[:11000]
y_train_m1 = y_train_m1[:11000]
y_test_m1 = y_test_m1[:11000]

In [27]:
X_train_m2 = X_train_m2[:11000]
X_test_m2 = X_test_m2[:11000]
y_train_m2 = y_train_m2[:11000]
y_test_m2 = y_test_m2[:11000]

In [28]:
from sklearn.decomposition import KernelPCA
kpca = KernelPCA(n_components=175)
X_train_m1 = kpca.fit_transform(X_train_m1)
X_test_m1 = kpca.transform(X_test_m1)

X_train_m2 = kpca.fit_transform(X_train_m2)
X_test_m2 = kpca.transform(X_test_m2)

# Tune MLP

MLP is a random and complex model. For its successful application some levels of tuning is necessary.

The following are different parameters that can be tuned:

- hidden_layer_sizes 
- activation{‘identity’, ‘logistic’, ‘tanh’, ‘relu’}, default=’relu’
    Activation function for the hidden layer.
- solver{‘lbfgs’, ‘sgd’, ‘adam’}, default=’adam’
- alpha, default=0.0001
- learning_rate{‘constant’, ‘invscaling’, ‘adaptive’}, default=’constant’
- learning_rate_init, default=0.001
- max_iter, default=200
- shuffle, default=True

To tune MLP, we cannot use the testset. Why?

So we chunk out another part of trainset as a tuning (validation) set. We use this set only tune the algorithm.

In [15]:
X_train_s, X_tune, y_train_s, y_tune = train_test_split(X_train, y_train, test_size=0.2, random_state=1)

print('X_train Shape: ', X_train.shape)
print('y_train Shape: ', y_train.shape)

print('X_train_s Shape: ', X_train_s.shape)
print('X_tune Shape: ', X_tune.shape)
print('y_train_s Shape: ', y_train_s.shape)
print('y_tune Shape: ', y_tune.shape)

X_train Shape:  (10000, 100)
y_train Shape:  (10000,)
X_train_s Shape:  (8000, 100)
X_tune Shape:  (2000, 100)
y_train_s Shape:  (8000,)
y_tune Shape:  (2000,)

# Tune for - activation and solver

In [20]:
num_repetition = 5

In [21]:
# Create a placeholder for experimentations
activation_options = ['identity', 'logistic', 'tanh', 'relu']
solver_options = ['lbfgs','sgd','adam']

my_index = pd.MultiIndex.from_product([activation_options,solver_options],
                                     names=('activation', 'solver'))

tune_df = pd.DataFrame(index = my_index,
                       columns=['R{}'.format(i) for i in range(num_repetition)])

tune_df

                    R0   R1   R2   R3   R4
activation solver
identity   lbfgs   NaN  NaN  NaN  NaN  NaN
           sgd     NaN  NaN  NaN  NaN  NaN
           adam    NaN  NaN  NaN  NaN  NaN
logistic   lbfgs   NaN  NaN  NaN  NaN  NaN
           sgd     NaN  NaN  NaN  NaN  NaN
           adam    NaN  NaN  NaN  NaN  NaN
tanh       lbfgs   NaN  NaN  NaN  NaN  NaN
           sgd     NaN  NaN  NaN  NaN  NaN
           adam    NaN  NaN  NaN  NaN  NaN
relu       lbfgs   NaN  NaN  NaN  NaN  NaN
           sgd     NaN  NaN  NaN  NaN  NaN
           adam    NaN  NaN  NaN  NaN  NaN

In [29]:
n = len(y_tune)
for activation_o in activation_options:
    for solver_o in solver_options:
        for rep in tune_df.columns:
            mlp = MLPRegressor(hidden_layer_sizes=(5), max_iter=2000,
                                   activation=activation_o,solver=solver_o)

            mlp.fit(X_train_s, y_train_s)
            y_tune_predict = mlp.predict(X_tune)
            RSME = np.sqrt(np.sum((y_tune_predict - y_tune)**2)/n)
            
            tune_df.at[(activation_o,solver_o),rep] = RSME

In [109]:
tune_df['Mean'] = tune_df[
    ['R{}'.format(i) for i in range(num_repetition)]].mean(axis=1)
tune_df['Min'] = tune_df[
    ['R{}'.format(i) for i in range(num_repetition)]].min(axis=1)
tune_df.sort_values('Mean')

                    R0   R1   R2   R3   R4  Mean  Min
activation solver
identity   lbfgs   NaN  NaN  NaN  NaN  NaN   NaN  NaN
           sgd     NaN  NaN  NaN  NaN  NaN   NaN  NaN
           adam    NaN  NaN  NaN  NaN  NaN   NaN  NaN
logistic   lbfgs   NaN  NaN  NaN  NaN  NaN   NaN  NaN
           sgd     NaN  NaN  NaN  NaN  NaN   NaN  NaN
           adam    NaN  NaN  NaN  NaN  NaN   NaN  NaN
tanh       lbfgs   NaN  NaN  NaN  NaN  NaN   NaN  NaN
           sgd     NaN  NaN  NaN  NaN  NaN   NaN  NaN
           adam    NaN  NaN  NaN  NaN  NaN   NaN  NaN
relu       lbfgs   NaN  NaN  NaN  NaN  NaN   NaN  NaN
           sgd     NaN  NaN  NaN  NaN  NaN   NaN  NaN
           adam    NaN  NaN  NaN  NaN  NaN   NaN  NaN

# Best activation and solver for this dataset are `relu` and `adam`
## We will use the top 2 results for the most optimized model.

<br>

# Tune for hidden_layer_sizes

In [22]:
# This code is basically creating a list of 15 one layered ANN ([1] - [15]) 
# and 100 two layered ANNs ([1,1] - [10,10])

PossibleNetStrct = []
PossibleNetString = []

for i in range(1,16):
    netStruct = [i]
    PossibleNetStrct.append(netStruct)
    PossibleNetString.append(str(netStruct))
    print('Network Structure:', netStruct)
    
for i in range(1,11):
    for j in range(1,11):
        netStruct = [i,j]
        PossibleNetStrct.append(netStruct)
        PossibleNetString.append(str(netStruct))
        print('Network Structure:', netStruct)

Network Structure: [1]
Network Structure: [2]
Network Structure: [3]
Network Structure: [4]
Network Structure: [5]
Network Structure: [6]
Network Structure: [7]
Network Structure: [8]
Network Structure: [9]
Network Structure: [10]
Network Structure: [11]
Network Structure: [12]
Network Structure: [13]
Network Structure: [14]
Network Structure: [15]
Network Structure: [1, 1]
Network Structure: [1, 2]
Network Structure: [1, 3]
Network Structure: [1, 4]
Network Structure: [1, 5]
Network Structure: [1, 6]
Network Structure: [1, 7]
Network Structure: [1, 8]
Network Structure: [1, 9]
Network Structure: [1, 10]
Network Structure: [2, 1]
Network Structure: [2, 2]
Network Structure: [2, 3]
Network Structure: [2, 4]
Network Structure: [2, 5]
Network Structure: [2, 6]
Network Structure: [2, 7]
Network Structure: [2, 8]
Network Structure: [2, 9]
Network Structure: [2, 10]
Network Structure: [3, 1]
Network Structure: [3, 2]
Network Structure: [3, 3]
Network Structure: [3, 4]
Network Structure: [3, 5]
Network Structure: [3, 6]
Network Structure: [3, 7]
Network Structure: [3, 8]
Network Structure: [3, 9]
Network Structure: [3, 10]
Network Structure: [4, 1]
Network Structure: [4, 2]
Network Structure: [4, 3]
Network Structure: [4, 4]
Network Structure: [4, 5]
Network Structure: [4, 6]
Network Structure: [4, 7]
Network Structure: [4, 8]
Network Structure: [4, 9]
Network Structure: [4, 10]
Network Structure: [5, 1]
Network Structure: [5, 2]
Network Structure: [5, 3]
Network Structure: [5, 4]
Network Structure: [5, 5]
Network Structure: [5, 6]
Network Structure: [5, 7]
Network Structure: [5, 8]
Network Structure: [5, 9]
Network Structure: [5, 10]
Network Structure: [6, 1]
Network Structure: [6, 2]
Network Structure: [6, 3]
Network Structure: [6, 4]
Network Structure: [6, 5]
Network Structure: [6, 6]
Network Structure: [6, 7]
Network Structure: [6, 8]
Network Structure: [6, 9]
Network Structure: [6, 10]
Network Structure: [7, 1]
Network Structure: [7, 2]
Network Structure: [7, 3]
Network Structure: [7, 4]
Network Structure: [7, 5]
Network Structure: [7, 6]
Network Structure: [7, 7]
Network Structure: [7, 8]
Network Structure: [7, 9]
Network Structure: [7, 10]
Network Structure: [8, 1]
Network Structure: [8, 2]
Network Structure: [8, 3]
Network Structure: [8, 4]
Network Structure: [8, 5]
Network Structure: [8, 6]
Network Structure: [8, 7]
Network Structure: [8, 8]
Network Structure: [8, 9]
Network Structure: [8, 10]
Network Structure: [9, 1]
Network Structure: [9, 2]
Network Structure: [9, 3]
Network Structure: [9, 4]
Network Structure: [9, 5]
Network Structure: [9, 6]
Network Structure: [9, 7]
Network Structure: [9, 8]
Network Structure: [9, 9]
Network Structure: [9, 10]
Network Structure: [10, 1]
Network Structure: [10, 2]
Network Structure: [10, 3]
Network Structure: [10, 4]
Network Structure: [10, 5]
Network Structure: [10, 6]
Network Structure: [10, 7]
Network Structure: [10, 8]
Network Structure: [10, 9]
Network Structure: [10, 10]

# Model 1

## Here we are using Activation Function : `relu` and Optimization Function : `adam`

In [23]:
tune_df1 = pd.DataFrame(np.nan, index =PossibleNetString,
                      columns = ['R{}'.format(i) for i in range(num_repetition)])

n = len(y_tune)

for i,netStr in enumerate(PossibleNetStrct):
    RowName = PossibleNetString[i]
    for rep in tune_df1.columns:
        
        mlp = MLPRegressor(hidden_layer_sizes=netStr, activation = 'relu', 
                       solver='adam', max_iter=2000)
        mlp.fit(X_train_s, y_train_s)
        
        y_tune_predict = mlp.predict(X_tune)
        RSME = np.sqrt(np.sum((y_tune_predict - y_tune)**2)/n)
        
        tune_df1.at[RowName, rep] = RSME
    print(netStr)

In [23]:
tune_df1['Mean'] = tune_df1[
    ['R{}'.format(i) for i in range(num_repetition)]].mean(axis=1)
tune_df1['Min'] = tune_df1[
    ['R{}'.format(i) for i in range(num_repetition)]].min(axis=1)
tune_df1.sort_values('Min')

,R0,R1,R2,R3,R4,Mean,Min
[4],29.501973,29.333096,29.156360,29.552749,28.732596,29.255355,28.732596
"[1, 10]",29.651563,30.235736,28.758525,28.868040,28.780294,29.258831,28.758525
"[1, 4]",33.755881,29.671137,28.819354,28.864060,28.864602,29.995007,28.819354
"[2, 2]",36.169932,28.838744,33.755951,32.982078,31.071963,32.563734,28.838744
"[1, 5]",30.181535,28.923996,31.213559,30.218572,30.223908,30.152314,28.923996
...,...,...,...,...,...,...,...
"[5, 10]",44.573103,46.510981,50.529068,41.143077,44.035093,45.358264,41.143077
"[7, 9]",64.022857,47.324308,41.383521,49.804828,43.241979,49.155498,41.383521
"[7, 6]",49.627082,42.637690,45.782862,44.588806,41.529665,44.833221,41.529665
"[8, 7]",43.441284,41.712330,43.009675,43.790898,42.246918,42.840221,41.712330
"[7, 10]",47.622963,46.605520,58.450090,42.946498,54.859449,50.096904,42.946498

In [24]:
tune_df1.sort_values('Mean')

,R0,R1,R2,R3,R4,Mean,Min
[2],29.172975,29.022305,29.304594,29.226762,29.111158,29.167559,29.022305
[4],29.501973,29.333096,29.156360,29.552749,28.732596,29.255355,28.732596
"[1, 10]",29.651563,30.235736,28.758525,28.868040,28.780294,29.258831,28.758525
[3],29.423829,28.981605,29.520108,29.352089,29.284491,29.312424,28.981605
[7],29.444400,29.687555,29.739516,29.211932,29.569914,29.530663,29.211932
...,...,...,...,...,...,...,...
"[6, 10]",62.201943,38.575854,36.860179,51.239191,50.040285,47.783490,36.860179
"[7, 9]",64.022857,47.324308,41.383521,49.804828,43.241979,49.155498,41.383521
"[4, 8]",40.527439,45.818285,46.524646,53.162395,61.090806,49.424714,40.527439
"[7, 10]",47.622963,46.605520,58.450090,42.946498,54.859449,50.096904,42.946498
"[2, 10]",59.573749,31.293872,51.886402,59.511971,54.586494,51.370498,31.293872

### We can interpret from the above table that the hidden layer size of a Multi-Layered Perceptron Model, specifically for the given dataset, gives the best Mean for the following values:
<ol>
    <strong><li>  (2,)</li>
            <li>  (4,)</li>
            <li>  (1,10,)</li></strong>
</ol>
<br>
<strong>
<p>Example :

For architecture 56:25:11:7:5:3:1 with input 56 and 1 output hidden layers will be (25:11:7:5:3). So tuple hidden_layer_sizes = (25,11,7,5,3,)

For architecture 3:45:2:11:2 with input 3 and 2 output hidden layers will be (45:2:11). So tuple hidden_layer_sizes = (45,2,11,)
</p>

<pre><br><pre>

# Tune for learning_rate, learning_rate_init

In [17]:
LR_options = ['constant','invscaling','adaptive']
LRI_options = [0.0001,0.001,0.005,0.01,0.05,0.1]

my_index = pd.MultiIndex.from_product([LR_options,LRI_options],
                                     names=('LR', 'rate'))

tune_df2 = pd.DataFrame(index = my_index,
                       columns=['R{}'.format(i) for i in range(num_repetition)])

tune_df2

                    R0   R1   R2   R3   R4
LR         rate
constant   0.0001  NaN  NaN  NaN  NaN  NaN
           0.0010  NaN  NaN  NaN  NaN  NaN
           0.0050  NaN  NaN  NaN  NaN  NaN
           0.0100  NaN  NaN  NaN  NaN  NaN
           0.0500  NaN  NaN  NaN  NaN  NaN
           0.1000  NaN  NaN  NaN  NaN  NaN
invscaling 0.0001  NaN  NaN  NaN  NaN  NaN
           0.0010  NaN  NaN  NaN  NaN  NaN
           0.0050  NaN  NaN  NaN  NaN  NaN
           0.0100  NaN  NaN  NaN  NaN  NaN
           0.0500  NaN  NaN  NaN  NaN  NaN
           0.1000  NaN  NaN  NaN  NaN  NaN
adaptive   0.0001  NaN  NaN  NaN  NaN  NaN
           0.0010  NaN  NaN  NaN  NaN  NaN
           0.0050  NaN  NaN  NaN  NaN  NaN
           0.0100  NaN  NaN  NaN  NaN  NaN
           0.0500  NaN  NaN  NaN  NaN  NaN
           0.1000  NaN  NaN  NaN  NaN  NaN

In [24]:
n = len(y_tune)

In [25]:
for LR_o in LR_options:
    for LRI_o in LRI_options:
        for rep in tune_df2.columns:
            mlp = MLPRegressor(hidden_layer_sizes=(2,), max_iter=2000,
                                   activation='relu',solver='adam',
                                   learning_rate=LR_o, learning_rate_init= LRI_o)

            mlp.fit(X_train_s, y_train_s)
            y_tune_predict = mlp.predict(X_tune)
            RSME = np.sqrt(np.sum((y_tune_predict - y_tune)**2)/n)
            
            tune_df2.at[(LR_o,LRI_o),rep] = RSME
        print((LR_o,LRI_o))

('constant', 0.0001)
('constant', 0.001)
('constant', 0.005)
('constant', 0.01)
('constant', 0.05)
('constant', 0.1)
('invscaling', 0.0001)
('invscaling', 0.001)
('invscaling', 0.005)
('invscaling', 0.01)
('invscaling', 0.05)
('invscaling', 0.1)
('adaptive', 0.0001)
('adaptive', 0.001)
('adaptive', 0.005)
('adaptive', 0.01)
('adaptive', 0.05)
('adaptive', 0.1)

In [66]:
tune_df2['Mean'] = tune_df2[
    ['R{}'.format(i) for i in range(num_repetition)]].mean(axis=1)
tune_df2['Min'] = tune_df2[
    ['R{}'.format(i) for i in range(num_repetition)]].min(axis=1)
tune_df2.sort_values('Mean')

                          R0         R1         R2         R3         R4  \
LR         rate
invscaling 0.0010  36.657653   35.94177  36.286059  36.343744  36.810111
constant   0.0010  36.424284  36.059959  36.720929  36.038247  36.849915
adaptive   0.0001  37.631724   37.35082  37.771414  37.222218  37.247554
constant   0.0001  37.657984   37.28488  47.612975  37.252144  37.333829
invscaling 0.0001  37.170158  48.424692  37.101565  37.298672  37.155894
adaptive   0.0010  43.460567  43.459763  36.391453  36.667043  43.460297
           0.0050  38.701888  46.967252  39.861812  45.529042  38.386237
           0.0100   42.26991  38.805593  43.459632  42.423408  47.128464
constant   0.0500  44.511226  44.399926  38.248133   48.67844  38.256035
invscaling 0.0050  44.709671  43.459271  37.207332  45.743868  45.622799
           0.0500  45.517488   46.31302  44.180753  37.768008  44.292504
adaptive   0.1000  44.861972  42.816424  48.119851  44.358069  43.543579
constant   0.0100  47.693407  46.532294  45.818394  40.960358   43.45852
adaptive   0.0500  42.199087   45.14084  48.339566  48.116623  40.813658
constant   0.0050  43.140132  46.042914   45.34675  45.177651  45.178757
invscaling 0.1000  56.026759  44.241651  52.190008  42.931824  42.037954
           0.0100  45.021442  50.036726  48.824014  49.073344  45.300847
constant   0.1000  60.682296  47.001482  44.128916  45.358267  45.328916

                        Mean        Min
LR         rate
invscaling 0.0010  36.407867  35.941770
constant   0.0010  36.418667  36.038247
adaptive   0.0001  37.444746  37.222218
constant   0.0001  39.428362  37.252144
invscaling 0.0001  39.430196  37.101565
adaptive   0.0010  40.687825  36.391453
           0.0050  41.889246  38.386237
           0.0100  42.817402  38.805593
constant   0.0500  42.818752  38.248133
invscaling 0.0050  43.348588  37.207332
           0.0500  43.614355  37.768008
adaptive   0.1000  44.739979  42.816424
constant   0.0100  44.892595  40.960358
adaptive   0.0500  44.921955  40.813658
constant   0.0050  44.977241  43.140132
invscaling 0.1000  47.485639  42.037954
           0.0100  47.651275  45.021442
constant   0.1000  48.499975  44.128916

## We will consider our Learning Rate as `invscaling` and Initial Learning Rate as `0.001`:

<br/>

#### The initial learning rate used. It controls the step-size in updating the weights. Only used when solver=`sgd` or `adam`.
#### `invscaling` gradually decreases the learning rate learning_rate_ at each time step ‘t’ using an inverse scaling exponent of ‘power_t’. <br>
<strong>`effective_learning_rate = learning_rate_init / pow(t, power_t)`</strong>

# Tune for max_iter, shuffle

In [27]:
max_iterations_options = [500,1000,2000,5000,10000]
shuffle_options = [True,False]

my_index = pd.MultiIndex.from_product([max_iterations_options,shuffle_options],
                                     names=('Max Iterations', 'shuffle'))

tune_df3 = pd.DataFrame(index = my_index,
                       columns=['R{}'.format(i) for i in range(num_repetition)])

tune_df3

                         R0   R1   R2   R3   R4
Max Iterations shuffle
500            True     NaN  NaN  NaN  NaN  NaN
               False    NaN  NaN  NaN  NaN  NaN
1000           True     NaN  NaN  NaN  NaN  NaN
               False    NaN  NaN  NaN  NaN  NaN
2000           True     NaN  NaN  NaN  NaN  NaN
               False    NaN  NaN  NaN  NaN  NaN
5000           True     NaN  NaN  NaN  NaN  NaN
               False    NaN  NaN  NaN  NaN  NaN
10000          True     NaN  NaN  NaN  NaN  NaN
               False    NaN  NaN  NaN  NaN  NaN

In [28]:
for max_iterations_o in max_iterations_options:
    for shuffle_o in shuffle_options:
        for rep in tune_df3.columns:
            mlp = MLPRegressor(hidden_layer_sizes=(2,), max_iter=max_iterations_o,
                                   activation='relu',solver='adam',
                                   learning_rate='invscaling', learning_rate_init= 0.001,
                                   shuffle = shuffle_o)

            mlp.fit(X_train_s, y_train_s)
            y_tune_predict = mlp.predict(X_tune)
            RSME = np.sqrt(np.sum((y_tune_predict - y_tune)**2)/n)
            
            tune_df3.at[(max_iterations_o,shuffle_o),rep] = RSME
        print((max_iterations_o,shuffle_o))

(500, True)
(500, False)
(1000, True)
(1000, False)
(2000, True)
(2000, False)
(5000, True)
(5000, False)
(10000, True)
(10000, False)

In [65]:
tune_df3['Mean'] = tune_df3[
    ['R{}'.format(i) for i in range(num_repetition)]].mean(axis=1)
tune_df3['Min'] = tune_df3[
    ['R{}'.format(i) for i in range(num_repetition)]].min(axis=1)
tune_df3.sort_values('Mean')

                               R0         R1         R2         R3         R4  \
Max Iterations shuffle
1000           False    35.603945  36.334654  35.756943  36.372557  36.627096
               True     36.556085  36.350315  36.501694   36.06874  36.257605
2000           False    36.705168    36.6549   36.81468  35.948429  36.642195
500            False    44.618807  36.318229  36.326618  36.816133  36.800864
               True     36.359327  36.813603  44.149129  36.821034  36.880727
2000           True     36.706202  39.154288  43.460614  35.775605  36.084589
5000           True     37.177026  39.003575  37.312267  39.330439  40.404928
               False    38.894782  39.143742  38.332767  39.518608  38.420089
10000          True     45.790538   38.44719  38.509522  36.733811  38.404856
               False    45.224656   45.16389  39.973943  40.756632  45.175407

                             Mean        Min
Max Iterations shuffle
1000           False    36.139039  35.603945
               True     36.346888  36.068740
2000           False    36.553074  35.948429
500            False    38.176130  36.318229
               True     38.204764  36.359327
2000           True     38.236260  35.775605
5000           True     38.645647  37.177026
               False    38.861998  38.332767
10000          True     39.577184  36.733811
               False    43.258906  39.973943

## The least RSME is generated with the combination of `max_iter` : 1000 and `shuffle` : False.

# Tune for alpha

In [31]:
alpha_options =[0.00001,0.00005,0.0001,0.0005,0.001,0.005]

tune_df4 = pd.DataFrame(index = alpha_options,
                       columns=['R{}'.format(i) for i in range(num_repetition)])

tune_df4

          R0   R1   R2   R3   R4
0.00001  NaN  NaN  NaN  NaN  NaN
0.00005  NaN  NaN  NaN  NaN  NaN
0.00010  NaN  NaN  NaN  NaN  NaN
0.00050  NaN  NaN  NaN  NaN  NaN
0.00100  NaN  NaN  NaN  NaN  NaN
0.00500  NaN  NaN  NaN  NaN  NaN

In [32]:
for alpha_o in alpha_options:
    for rep in tune_df4.columns:
        mlp = MLPRegressor(hidden_layer_sizes=(2,), max_iter=1000,
                               activation='relu',solver='adam', learning_rate='invscaling',
                               learning_rate_init= 0.0010, shuffle = False, alpha=alpha_o)
        mlp.fit(X_train_s, y_train_s)
        y_tune_predict = mlp.predict(X_tune)
        RSME = np.sqrt(np.sum((y_tune_predict - y_tune)**2)/n)
        tune_df4.at[alpha_o,rep] = RSME
    print(alpha_o)

1e-05
5e-05
0.0001
0.0005
0.001
0.005

In [34]:
tune_df4['Mean'] = tune_df4[
    ['R{}'.format(i) for i in range(num_repetition)]].mean(axis=1)
tune_df4['Min'] = tune_df4[
    ['R{}'.format(i) for i in range(num_repetition)]].min(axis=1)
tune_df4.sort_values('Mean')

,R0,R1,R2,R3,R4,Mean,Min
0.00005,35.514085,36.651795,36.139894,35.532869,35.591419,35.886012,35.514085
0.00500,36.613766,36.395831,35.55782,35.472958,36.064798,36.021035,35.472958
0.00010,36.448796,35.446361,36.57092,36.157697,35.648501,36.054455,35.446361
0.00050,36.180909,36.125825,35.452716,36.618541,36.274889,36.130576,35.452716
0.00100,35.645222,36.32685,35.387038,36.145844,41.103945,36.921780,35.387038
0.00001,35.500529,43.4616,35.521952,36.355525,36.598159,37.487553,35.500529

## `alpha` : `0.00005` seems to be the most suitable choice.

<br>

# Tune for Randomness

In [39]:
random_options = range(1,10)

tune_df5 = pd.DataFrame(index = random_options,
                       columns=['RMSE'])
tune_df5

  RMSE
1  NaN
2  NaN
3  NaN
4  NaN
5  NaN
6  NaN
7  NaN
8  NaN
9  NaN

In [40]:

for random_o in random_options:
    mlp = MLPRegressor(hidden_layer_sizes=(2,), max_iter=1000,
                               activation='relu',solver='adam', learning_rate='invscaling',
                               learning_rate_init= 0.0010, shuffle = False, alpha = 0.00005, random_state=random_o)
    mlp.fit(X_train_s, y_train_s)
    y_tune_predict = mlp.predict(X_tune)
    RMSE = np.sqrt(np.sum((y_tune_predict - y_tune)**2)/n)
    tune_df5.at[random_o,'RMSE'] = RMSE
    
    print(random_o)

1
2
3
4
5
6
7
8
9

In [43]:
tune_df5.sort_values('RMSE')

        RMSE
6  35.460594
7  35.477895
1  35.554898
3    36.1233
9   36.39444
4  36.433257
8  41.190781
2  41.229542
5  43.462229

## `random_state` : `6`

<br>

## Train the tuned MLP on train set

In [30]:
mlp_pre_tuned_m1 = MLPRegressor(hidden_layer_sizes=5,max_iter=2000)


mlp_post_tuned_m1 = MLPRegressor(
    hidden_layer_sizes=(100, 100),
    activation='relu',
    solver='adam',
    learning_rate='adaptive',
    learning_rate_init=0.001,
    alpha=0.0001,
    batch_size='auto',
    max_iter=1000,
    random_state=42,
    early_stopping=True,
    validation_fraction=0.2)

mlp_pre_tuned_m1.fit(X_train_m1, y_train_m1)
mlp_post_tuned_m1.fit(X_train_m1, y_train_m1)

MLPRegressor(early_stopping=True, hidden_layer_sizes=(100, 100),
             learning_rate='adaptive', max_iter=1000, random_state=42,
             validation_fraction=0.2)

In [31]:
mlp_pre_tuned_m2 = MLPRegressor(hidden_layer_sizes=5,max_iter=2000)


mlp_post_tuned_m2 = MLPRegressor(
    hidden_layer_sizes=(100, 100),
    activation='relu',
    solver='adam',
    learning_rate='adaptive',
    learning_rate_init=0.001,
    alpha=0.0001,
    batch_size='auto',
    max_iter=1000,
    random_state=42,
    early_stopping=True,
    validation_fraction=0.2)

mlp_pre_tuned_m2.fit(X_train_m2, y_train_m2)
mlp_post_tuned_m2.fit(X_train_m2, y_train_m2)

MLPRegressor(early_stopping=True, hidden_layer_sizes=(100, 100),
             learning_rate='adaptive', max_iter=1000, random_state=42,
             validation_fraction=0.2)

In [32]:
y_pred_pre_m1 = mlp_pre_tuned_m1.predict(X_test_m1)
y_pred_post_m1 = mlp_post_tuned_m1.predict(X_test_m1)

In [33]:
y_pred_pre_m2 = mlp_pre_tuned_m2.predict(X_test_m2)
y_pred_post_m2 = mlp_post_tuned_m2.predict(X_test_m2)

In [40]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, explained_variance_score
import numpy as np



print("Pre-Tuned MLP model using CBOW:\n")
# Mean Squared Error (MSE)
mse = mean_squared_error(y_test_m1, y_pred_pre_m1)
print("Mean Squared Error (MSE):", mse)

# Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

# Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test_m1, y_pred_pre_m1)
print("Mean Absolute Error (MAE):", mae)

# R-squared (R²) or Coefficient of Determination
r2 = r2_score(y_test_m1, y_pred_pre_m1)
print("R-squared (R²):", r2)

# Explained Variance Score
explained_var = explained_variance_score(y_test_m1, y_pred_pre_m1)
print("Explained Variance Score:", explained_var)




print("\n\n\nPost-Tuning MLP model using CBOW:\n")
# Mean Squared Error (MSE)
mse = mean_squared_error(y_test_m1, y_pred_post_m1)
print("Mean Squared Error (MSE):", mse)

# Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

# Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test_m1, y_pred_post_m1)
print("Mean Absolute Error (MAE):", mae)

# R-squared (R²) or Coefficient of Determination
r2 = r2_score(y_test_m1, y_pred_post_m1)
print("R-squared (R²):", r2)

# Explained Variance Score
explained_var = explained_variance_score(y_test_m1, y_pred_post_m1)
print("Explained Variance Score:", explained_var)

Pre-Tuned MLP model using CBOW:

Mean Squared Error (MSE): 1257.4299957254032
Root Mean Squared Error (RMSE): 35.46025938604233
Mean Absolute Error (MAE): 16.720376917413112
R-squared (R²): 0.18801346448770384
Explained Variance Score: 0.1880384798807191



Post-Tuning MLP model using CBOW:

Mean Squared Error (MSE): 1172.8191336209006
Root Mean Squared Error (RMSE): 34.24644702185762
Mean Absolute Error (MAE): 14.565874388072713
R-squared (R²): 0.2426510037706039
Explained Variance Score: 0.24265557115246017

In [42]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, explained_variance_score
import numpy as np



print("Pre-Tuned MLP model using CBOW:\n")
# Mean Squared Error (MSE)
mse = mean_squared_error(y_test_m2, y_pred_pre_m2)
print("Mean Squared Error (MSE):", mse)

# Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

# Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test_m2, y_pred_pre_m2)
print("Mean Absolute Error (MAE):", mae)

# R-squared (R²) or Coefficient of Determination
r2 = r2_score(y_test_m2, y_pred_pre_m2)
print("R-squared (R²):", r2)

# Explained Variance Score
explained_var = explained_variance_score(y_test_m2, y_pred_pre_m2)
print("Explained Variance Score:", explained_var)




print("\n\n\nPost-Tuning MLP model using SG:\n")
# Mean Squared Error (MSE)
mse = mean_squared_error(y_test_m2, y_pred_post_m2)
print("Mean Squared Error (MSE):", mse)

# Root Mean Squared Error (RMSE)
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

# Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test_m2, y_pred_post_m2)
print("Mean Absolute Error (MAE):", mae)

# R-squared (R²) or Coefficient of Determination
r2 = r2_score(y_test_m2, y_pred_post_m2)
print("R-squared (R²):", r2)

# Explained Variance Score
explained_var = explained_variance_score(y_test_m2, y_pred_post_m2)
print("Explained Variance Score:", explained_var)

Pre-Tuned MLP model using CBOW:

Mean Squared Error (MSE): 815.1975768615519
Root Mean Squared Error (RMSE): 28.551665045344585
Mean Absolute Error (MAE): 15.402812547842293
R-squared (R²): 0.2604049542575869
Explained Variance Score: 0.26040957608302884



Post-Tuning MLP model using SG:

Mean Squared Error (MSE): 796.4743510473767
Root Mean Squared Error (RMSE): 28.221877170864744
Mean Absolute Error (MAE): 14.25921727780007
R-squared (R²): 0.27739176266517884
Explained Variance Score: 0.2775746278200981

In [46]:
import pickle
filename = 'manual_pre_cbow.pkl'
with open(filename, 'wb') as file:
    pickle.dump(mlp_pre_tuned_m1, file)

filename = 'manual_post_cbow.pkl'
with open(filename, 'wb') as file:
    pickle.dump(mlp_post_tuned_m1, file)

    
filename = 'manual_pre_sg.pkl'
with open(filename, 'wb') as file:
    pickle.dump(mlp_pre_tuned_m2, file)

filename = 'manual_post_sg.pkl'
with open(filename, 'wb') as file:
    pickle.dump(mlp_post_tuned_m2, file)

In [34]:

import pickle
filename = 'sg_model3.pkl'
with open(filename, 'wb') as file:
    pickle.dump(best_model, file)